@import "../assets/style/global.scss";

nav.navbar {
  background-color: var(--background);
  border-bottom: 1px solid var(--border);
  height: 60px;
  width: 100%;

  .container {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: $large-screen;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 $padding-large;

    .logo {
      img {
        max-width: 160px;

        @media screen and (max-width: $small-screen) {
          max-width: 120px;
        }
      }
    }

    .search-container {
      position: relative;
      height: 32px;

      form {
        height: 100%;

        input {
          width: 100%;
          height: 100%;
        }

        button.btn {
          position: absolute;
          top: 0;
          width: 32px;
          height: 100%;
          border: none;
          cursor: pointer;
          align-items: center;
          display: flex;
          justify-content: center;

          &.primary{
            right: 0;
            background-color: var(--primary-brand);
          }

          &.clear{
            right: 40px;
            top: 50%;
            transform: translateY(-50%);
            border-radius: 50%;
            background-color: var(--background);
            border: 1px solid var(--border);
            height: 24px;
            width: 24px;
            font-size: .8em;
            font-weight: bold;
            color: var(--primary-text);
          }


          &:hover,
          &:active {
            filter: brightness(1.1);
          }
        }
      }
    }
  }
}
