@import "../assets/style/global.scss";

.view-container {
  min-height: 100%;
  background-color: var(--background);
  width: 100%;
  max-width: $large-screen;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 $padding-large;
}
